{% load static %}

* {
	padding: 0;
	margin: 0;
}

/* RODAPE DA PAGINA */

footer {
	background-color: #00C5CD;
	height: 250px;
	border-top: 3px solid #00C5CD;
}

footer p {
	text-align: center;
	color: #FFF;
	top: 50%;
	position: relative;
}

.font-si {
	font-size: 15px;
}

/* HEADER MENU */

#header-menu {
	margin-right: 0;
	margin-left: 4%;
	height: 120px;
	position: relative;
}

#img-logo {
	position: relative;
	float: left;
	width: 120px;
	height: 120px;
}

#img-logo img {
	margin-left: 20px;
}

#form-head {
	width: 60%;
	min-width: 300px;
	position: relative;
	float: left;
	margin-left: 7%;
	margin-top: 35px;
}

#form-head input[type=text]:focus{
	width: 80%;
}

#form-pos {
	width: 50%;
	-webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
	height: 50px;
}

#but-pos {
	position: relative;
	float: left;	
	height: 50px;
	margin-left: 0px;
}

#form-login-cart {
	max-height: 20%;
	font-family: Avantgarde;
	position: relative;
	float: right;
	margin-top: 42px;
	margin-right: 60px;
	max-height: 70px;
	width: auto;
	font-size: 19px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

 #ic-margin {
	margin-left: 15px;
 }

/* MENU PRINCIPAL */

.dropdown-menu {
	color: #303030;
	background-color: #303030;
}

