{% extends 'base.html' %}

{% block title %}Carrinho MyMarket{% endblock %}

{% block content %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
			    <th><h2>Produto</h2></th>
			    <th><h2>Quantidade</h2></th>
			    <th class="text-center"><h2>Preço</h2></th>
			    <th class="text-center"><h2>Valor total</h2></th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="/static/images/images.jpg" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h3 class="media-heading">Arroz Namorado<a href="#"></a></h3>
                                <h4 class="media-heading"> Fornecedor: <a href="#">Camil</a></h4>
				<h4><span>Status: </span><span class="text-success"><strong>Disponível</h4></strong></span>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                        </td>
			<td class="col-sm-1 col-md-1 text-center"><h3><strong>R$ 11,99</strong></h3></td>
			<td class="col-sm-1 col-md-1 text-center"><h3><strong>R$ 35,97</strong></h3></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger">
				<span class="glyphicon glyphicon-remove"></span><h4> Remover</h4>
                        </button></td>
                    </tr>
                    <tr>
                        <td class="col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="/static/images/feijão.jpg" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="#">Feijão</a></h3>
                                <h4 class="media-heading"> Fornecedor <a href="#">Kicaldo</a></h4>
				<h4><span>Status: </span><span class="text-success"><strong>Disponível</strong></span></h4>
                            </div>
                        </div></td>
                        <td class="col-md-1" style="text-align: center">
                        <input type="email" class="form-control" id="exampleInputEmail1" value="2">
                        </td>
			<td class="col-md-1 text-center"><h3><strong>R$ 7,99</strong></td></h3>
			<td class="col-md-1 text-center"><h3><strong>R$ 13,98</strong></td></h3>
                        <td class="col-md-1">
                        <button type="button" class="btn btn-danger">
				<span class="glyphicon glyphicon-remove"></span><h4> Remover </h4>
                        </button></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Subtotal</h3></td>
                        <td class="text-right"><h3><strong>R$ 49,95</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Valor do frete</h3></td>
                        <td class="text-right"><h3><strong>R$ 8,49</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>R$ 58,44</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-shopping-cart"></span><h4>Continuar comprando</h4>
                        </button></td>
                        <td>
				<button type="button" class="btn btn-success"><h4>
						Finalizar compra</h4><span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
