{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastrar MyMarket{% endblock %}

{% block content %}

<div class="container-fluid" id="cont_cadastro">
	<div class="container" id="login-back">
	 	
        	    	<div id="dp">
				<legend id="legend-produto"><h1>Cadastrar Produto</h1></legend>
				<div id="form_center">
               			
    <form id="form-font">

            <label for="nome">Nome Produto:</label><br>
            <input type="text" id="nome" name="nome"><br><br>
            <label for="forn">Fornecedor:</label><br>
            <input type="text" id="forn" name="forn"><br><br>
            <label for="preco">Preço Produto:</label><br>
            <input type="number"id="number"><br><br>
            <label for="Categ" id="Categ">Categoria Produto</label><br>  

                    <select name="Categ"> 
                    <option>selecione</option> 
                    <option>Alimentos</option> 
                    <option>Bebidas</option> 
                    <option>HortiFruit</option> 
                    <option>Utulitários</option> 
                    <option>Limpeza</option> 
                    <option>Higiene</option> 
                   </select>
                </td><br><br>
            
                <form method="POST" action="" enctype="multipart/form-data">
                    <input type="file" name="imagem" id="imagem" onchange="previewImagem()"><br><br>
                    <img style="width: 220px; height: 150px;"><br>
                    <button id="button-cadastro-produto" class="botao" type="button">FINALIZAR CADASTRO</button>
                </form>		
                
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                
                <script>
                    function previewImagem(){
                        var imagem = document.querySelector('input[name=imagem]').files[0];
                        var preview = document.querySelector('img');
                        
                        var reader = new FileReader();
                        
                        reader.onloadend = function () {
                            preview.src = reader.result;
                        }
                        
                        if(imagem){
                            reader.readAsDataURL(imagem);
                        }else{
                            preview.src = "";
                        }
                    }
                </script>
        
            
            

    </form>
				</div>
			</div>
        
	</div>

</div>

{% endblock %}






